<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrginfosMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.domain.Orginfos">
    <id column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="foundtime" jdbcType="TIMESTAMP" property="foundtime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="leadername" jdbcType="VARCHAR" property="leadername" />
    <result column="leadercontact" jdbcType="VARCHAR" property="leadercontact" />
  </resultMap>
  <sql id="Base_Column_List">
    orgid, foundtime, message, collegeid, leadername, leadercontact
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orginfos
    where orgid = #{orgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orginfos
    where orgid = #{orgid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.domain.Orginfos">
    insert into orginfos (orgid, foundtime, message, 
      collegeid, leadername, leadercontact
      )
    values (#{orgid,jdbcType=INTEGER}, #{foundtime,jdbcType=TIMESTAMP}, #{message,jdbcType=VARCHAR}, 
      #{collegeid,jdbcType=INTEGER}, #{leadername,jdbcType=VARCHAR}, #{leadercontact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.domain.Orginfos">
    insert into orginfos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orgid != null">
        orgid,
      </if>
      <if test="foundtime != null">
        foundtime,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="collegeid != null">
        collegeid,
      </if>
      <if test="leadername != null">
        leadername,
      </if>
      <if test="leadercontact != null">
        leadercontact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orgid != null">
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="foundtime != null">
        #{foundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="collegeid != null">
        #{collegeid,jdbcType=INTEGER},
      </if>
      <if test="leadername != null">
        #{leadername,jdbcType=VARCHAR},
      </if>
      <if test="leadercontact != null">
        #{leadercontact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.domain.Orginfos">
    update orginfos
    <set>
      <if test="foundtime != null">
        foundtime = #{foundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="collegeid != null">
        collegeid = #{collegeid,jdbcType=INTEGER},
      </if>
      <if test="leadername != null">
        leadername = #{leadername,jdbcType=VARCHAR},
      </if>
      <if test="leadercontact != null">
        leadercontact = #{leadercontact,jdbcType=VARCHAR},
      </if>
    </set>
    where orgid = #{orgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.domain.Orginfos">
    update orginfos
    set foundtime = #{foundtime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR},
      collegeid = #{collegeid,jdbcType=INTEGER},
      leadername = #{leadername,jdbcType=VARCHAR},
      leadercontact = #{leadercontact,jdbcType=VARCHAR}
    where orgid = #{orgid,jdbcType=INTEGER}
  </update>
</mapper>